body {
    font-size: 16px;
    height: 100vh;
}

.top {
    background-color: #FFAB5B;
    position: fixed;
}

.nav-link {
    color: black !important;
    background-color: #FFF2DB !important;
    font-size: 1.1rem;
}


.me {
    border-radius: 50%;
}

.header {
    background-color: #FFF2DB;
    padding-bottom: 100px;
    padding-top: 150px;
}

h1 {
    font-family: "Crete Round", serif;
    color: rgb(0, 0, 0);
}

.header p {
    color: rgb(0, 0, 0);
    font-family: "karla", sans-serif;

}

.skills {
    background-color: #FFF2DB !important;
    padding-bottom: 250px !important;
}


#skill {
    font-family: "Crete Round", serif;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

.languages {
    display: flex;
    border: black solid;
    background: #FFAB5B;
    margin-top: 100px;
    width: 500px;
    height: 250px;
    gap: 40px;
    
}

.languages2 {
    display: flex;
    border: black solid;
    background: #FFAB5B;
    margin-top: 100px;
    width: 500px;
    height: 250px;
    gap: 40px;
}

.languagecon, .languagecon2 {
    display: flex;
    flex-direction: column;
}

.language1,
.language3 {
    font-family: "Crete Round", serif;
    border: black solid;
    border-width: 0px 0px 3px 0px;
    padding-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 0px;

}

.language2,
.language4 {
    font-size: 1.4rem;
    font-family: "karla", sans-serif;
}

.language2 {
    margin-top: 15px;
}

.language4 {
    margin-top: 15px;
}

.flexy {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 290px;
}

.csslogo, .csslogo2 {
    height: 100%;
    width: 60%;
}

.project1 {
    background-color: #FFF2DB;
}

.projects {
    font-family: "Crete Round", serif;
    padding-bottom: 30px;
    font-size: 2.5rem;
    justify-self: center;
    text-align: center;
}

.resumetext, .tindog {
    float: right;
}

.resumetext > h2 {
font-family: "Crete Round", serif;
margin-bottom: 30px;
}

.resumetext > p {
   font-family: "karla", sans-serif; 
}

.yeah {
    margin-top: 150px;
}

.resumeimg {
    border:#003092 solid
}

#projects {
    padding-bottom: 75px;
}

.project2 {
    background-color: #FFF2DB;
    padding-top: 10px;
    padding-bottom: 150px;
}

.tindog {
    margin-right: 140px !important;
}

.tindogimg {
    height: 500px;
    width: 500px;
} 

.tindog > h2 {
font-family: "Crete Round", serif;
margin-bottom: 30px;
}

.tindog > p {
   font-family: "karla", sans-serif; 
}


.aboutme {
    background-color: #FFF2DB;
    padding-top: 50px;
    padding-bottom: 250px;
}

.aboutme > h2 {
      font-family: "Crete Round", serif;
    padding-bottom: 30px;
    font-size: 2.5rem;
    justify-self: center;
    text-align: center;
}

.aboutme > p {
    background-color: #dbedff;
    margin-top: 50px;
    font-family: "karla", sans-serif;
    font-size: 1.4rem;
    padding: 50px;
    border-radius: 30px;
}


.contactme {
background-color: #FFF2DB;
    padding-top: 50px;
    padding-bottom: 150px;
    }
.contactme > h2 {
     font-family: "Crete Round", serif;
    padding-bottom: 30px;
    font-size: 2.5rem;
}

.contactme > p {
 background-color: #dbedff;
    margin-top: 50px;
    font-family: "karla", sans-serif;
    font-size: 1.4rem;
    padding: 50px;
    border-radius: 30px;
}

.footer {
    background-color: #8E7DBE;
}

.feet {
    background-color: #8E7DBE !important;
}
